deep-translator==1.11.4
discord.py==2.3.1
firebase-admin==6.2.0
imageio==2.31.1
imageio-ffmpeg==0.4.8
langid==1.1.6
moviepy==1.0.3
numpy==1.25.1
pylint==2.17.4
pytest==7.4.0
pytest-asyncio==0.21.0
python-dotenv==1.0.0
characterai==0.6.0
opencv-python==4.8.0.74
